# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.iml
*.class
*.git
*.xml
*.ini
*.bmpr
.idea/


../SAE_Java.bmpr